.user {
  padding: 10px 10px;
  background: #606060;
  align-items: center;
  display: flex;
  align-self: center;
  width: 80%;
  border-radius: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.bot {
  align-items: center;
  display: flex;
  background: #4c4c4c;
  padding: 10px 10px;
  width: 90%;
  align-self: center;
  border-radius: 20px;
}
.botTxt{
  width: 100%;
  -webkit-animation: type 2s steps(40, end);
  animation: type 2s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    border: none;
  }
}